// Colors
$white: #fff;

$gray-100: #EAEFF5;
$gray-200: #D9DFE6;
$gray-300: #8796AE;
$gray-400: #233148;

$blue-100: #1F65D9;
$blue-200: #12336A;

$orange: #FCCF18;


// Fonts
$font-family-light: 'ProximaNova-Light';
$font-family-regular: 'ProximaNova-Regular';
$font-family-bold: 'ProximaNova-Bold';
$font-family-exbold: 'ProximaNova-Extrabld';
$font-family-black: 'ProximaNova-Black';
